#main {
	width: 700px;
	height: 100%;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	background-color: #363C4F;
	padding-bottom: 100px;
	padding-top: 30px;
	border-radius: 40px;
	margin: 2%;

}

#numDisp {
	/*position: absolute;*/
	left: 10%;
	top: 5%;
	width: 400px;
	height: 170px;
	font-family: arial;
	font-size: 60px;
	/*border-style: solid;*/
	/*border-color: #A2A6A9;*/
	background-color: #71BDA7;
	text-align: right;
	padding-right: 4px;
	border-radius: 4px; 

}

#numberGrid {
	right: 10%;
	top: 10%;
	width: 80%;
	height: 360px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	background-color: #373A46;
}

#funcGrid {
	right: 10%;
	top: 65%;
	display: flex;
	flex-direction: column;
}

#controlGrid {
	/*padding: 10px;*/
}

.nBtn {
	width: 100px;
	height: 100px;
	border-radius: 5px;
	font-size: 30px;
	margin: 2%;
	font-size: 30px;
	margin: 10px;
	background-color: #1D211F;
	color: #A2A6A9;

}

.fBtn {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	font-size: 30px;
	margin: 10px;
	background-color: #1D211F;
	color: 	#A2A6A9;
}

.grid {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: #A2A6A9;
	flex-wrap: wrap;
	border-radius: 8px;
}

/*.button {
	border-radius: 5px;
	font-size: 30px;
	margin: 2%;
	margin: 10px;
}*/

#plusBtn {
	height: 100px;
	background-color: #904351;
	color: #CCD0D3;
}